body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block; /* Change back to block for normal layout */
}

#new-message-btn {
    display: none; /* Hide initially */
    margin: 20px auto; /* Center the button with margin auto */
}

h1 {
    font-size: 2em;
    color: #ff69b4;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}

#timestamp {
    font-size: 1em;
    color: #777;
}
